<h2>Sandbox app for angular-common-components-lib</h2>
<div>
  <ul>
    <li><a routerLink="entity-editor-demo1" queryParamsHandling="preserve">entity-editor-1</a></li>
    <li><a routerLink="entity-editor-demo2" queryParamsHandling="preserve">entity-editor-2</a></li>
    <li><a routerLink="organizations" queryParamsHandling="preserve">Organizations Page</a></li>
    <li><a routerLink="users" queryParamsHandling="preserve">Users Page</a></li>
    <li><a [routerLink]="['/map']" [queryParams]="{}">Map Component</a></li>
  </ul>
</div>

<router-outlet></router-outlet>
