:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #29b6f6;
}

li {
  float: left;
}

li a {
  display: block;
  color: #222;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #0288d1;
}
