<app-error [assignedQuery]="organizationQuery" [assignedService]="organizationService"></app-error>
<mat-card>
  <mat-card-content
    *tdLoading="'organization'; mode:'indeterminate'; type:'linear'; strategy:'overlay'; color:'accent'">

    <div fxLayout="row" fxLayoutAlign="center center" >
      <mat-form-field class="filter" fxFlex="1 1 auto">
        <input matInput type="text" name="filter" placeholder="Filter">
        <mat-icon matSuffix class="search-icon">search</mat-icon>
      </mat-form-field>
      <revision-date-time-picker (onDateTimeChange)="onRevisionTimeChange($event)"></revision-date-time-picker>
    </div>

    <nyom-table [dataSource]="dataSource" [columns]="columns" (rowClicked)="rowClicked($event)"></nyom-table>

    <button *ngIf="!((newOrganizationMode$ | async) || (selectedOrganization$ | async))"
            mat-raised-button color="primary" class="text-upper"
            (click)="organizationService.setNewMode(true)">
      New
    </button>

    <h2 *ngIf="selectedOrganization$ | async">Edit Organization
      (id:{{(selectedOrganization$ | async)}})</h2>
    <h2 *ngIf="newOrganizationMode$ | async">New Organization</h2>

    <td-dynamic-forms
      [hidden]="!((newOrganizationMode$ | async) || (selectedOrganization$ | async))"
      #organizationForm [elements]="formElements">
      <button mat-raised-button (click)="save()"
              color="primary"
              class="text-upper"
              [disabled]="!organizationForm.valid || (loading$ | async)">
        Save
      </button>
      <button mat-raised-button (click)="cancel()"
              color="primary"
              class="text-upper"
              [disabled]="(loading$ | async)">
        Cancel
      </button>
      <button *ngIf="!(newOrganizationMode$ | async)" mat-raised-button (click)="delete()"
              color="primary"
              class="text-upper"
              [disabled]="(loading$ | async)">
        Delete
      </button>
    </td-dynamic-forms>
  </mat-card-content>
</mat-card>

