<mat-card>
  <mat-card-content>
    <td-data-table
        [data]="data"
        [sortable]="true"
        [columns]="columns"
        [clickable]="true"
        (rowClick)="rowClicked($event)"
    >
    </td-data-table>
  </mat-card-content>

  <button *ngIf="!(newOrganizationMode || selectedOrganization)" mat-raised-button color="primary" class="text-upper"
          (click)="newOrganizationMode = true; selectedOrganization = null">
    New
  </button>

  <h2 *ngIf="selectedOrganization">Edit Organization (id:{{selectedOrganization.id}})</h2>
  <h2 *ngIf="newOrganizationMode">New Organization</h2>

  <td-dynamic-forms [hidden]="!(newOrganizationMode || selectedOrganization)"
      #organizationForm [elements]="formElements" >
    <button mat-raised-button (click)="save()"
            color="primary"
            class="text-upper"
            [disabled]="!organizationForm.valid">
      Save
    </button>
    <button mat-raised-button (click)="cancel()"
            color="primary"
            class="text-upper">
      Cancel
    </button>
  </td-dynamic-forms>

</mat-card>

